<template name="backend">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#users" data-toggle="tab">Users</a>
                        </li>
                        <li>
                            <a href="#transactions" data-toggle="tab">Transactions</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content">
                        <div id="wallet" class="tab-pane in active">
                            {{>users}}
                        </div>
                        <div id="tranfer" class="tab-pane">
                            {{>transactions}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<template name="users">
    <table class="table">
        <thead>
            <tr>
                <th>E-Mail</th>
                <th>Amount</th>
                <th>createdAt</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{address}}</td>
                <td>s</td>
                <td>d</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>

<template name="transactions">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#sent" data-toggle="tab">Sent</a>
        </li>
        <li>
            <a href="#income" data-toggle="tab">Income</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="sent" class="tab-pane in active">
            <table class="table">
                <thead>
                    <tr>
                        <th>WalletAddress</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each sent}}
                    <tr>
                        <td>{{walletId}}</td>
                        <td>{{amount}}</td>
                        <td>{{createdAt}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div id="income" class="tab-pane">
            <table class="table">
                <thead>
                    <tr>
                        <th>WalletAddress</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if income}} {{#each income}}
                    <tr>
                        <td>{{walletId}}</td>
                        <td>{{amount}}</td>
                        <td>{{createdAt}}</td>
                    </tr>
                    {{/each}} {{else}} empty. {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</template>